.hero {
    padding: 64px 0 150px 0;
    background-image: url(../images/feliz\ aniversario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .container {
        position: relative;
    }

    &__text {
        margin-top: 64px;
        margin-bottom: 64px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
        text-align: center;
    }

    &__logo {
        text-align: center;
        font-family: Moirai One, monospace;
        font-size: 60px;
    }

    @media (max-width: 640px) {
        padding: 40px 0;

        &__logo {
            font-size: 40px;
        }

        &__text {
            font-size: 22px;
            margin: 24px 0;
        }
    }
}